*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav{
  width: 100%;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;

}
nav ul{
  display: flex;
  align-items: center;
  gap: 16px;
  list-style: none;
}
div{
  display: flex;
  align-items: center;
  gap: 20px;
  
}
div button{
    padding: 10px;
    border-radius: 20px;
    background-color: seagreen;
    border: none;
    color: #fff;
    
}
li a{
    text-decoration: none;
    /*color: beige;*/

}
div button:hover{
    background-color: rgba(78, 4, 4, 0.884);
    transition: 0.5s;
    /* font-size: 1rem; */

    
}

.logo{
    font-size: 30px;
    font-weight: 600;
}
@media(max-width:768px){
  .nav ul{
    display: none;
  }
  div{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
